@using FRELODYUI.Shared.Pages.Compose.ChordComponents

@if (FormOpen)
{
    <div class="add-segment-form-container" style="@TextBoxSize">
        <form class="add-segment-form" @onsubmit="HandleSubmit">
            <div class="add-segment-inputs">                
               <ChordsDropdown TabIndex="@(_baseTabIndex + 1)"
                               SelectedChord="SelectedChord" 
                               SelectedChordChanged="HandleChordSelected" />
                <input @ref="lyricInput"
                       type="text"
                       tabindex="@_baseTabIndex"
                       class="form-control"
                       autocomplete="off"
                       @bind-Value="_segmentText"
                       @bind-Value:event="oninput"
                       placeholder="Enter lyric segment..." />
            </div>
            <div tabindex="@(_baseTabIndex + 5)"
                 class="add-segment-close-btn"
                 @onclick="()=>CloseForm()">
                <i class="bi bi-x"></i>
            </div>
            <button type="submit" tabindex="@(_baseTabIndex + 4)" 
                class="add-segment-save-btn">
                Save
            </button>
        </form>
    </div>
}
else
{
    <button class="add-segment-btn @(FocusedLine ? "add-segment-btn--focused" : "")"
            style="@TextBoxSize"
            @onclick="OpenForm">
        <i class="bi bi-plus"></i>
        <span>Add a segment</span>
    </button>
}

@code {
    [Parameter] public EventCallback<SegmentCreateDto> OnSegmentAdded { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public string TextBoxSize { get; set; } = "width:8rem;";
    [Parameter] public ChordDto SelectedChord { get; set; } = new();
    [Parameter] public EventCallback<ChordDto> SelectedChordChanged { get; set; } 
    [Parameter] public string SegmentText { get; set; } = string.Empty;
    [Parameter] public bool IsMidSegments { get; set; } 
    [Parameter] public bool FormOpen { get; set; }
    [Parameter] public EventCallback<bool> FormOpenChanged{ get; set; }
    [Parameter] public bool FocusedLine { get; set; }
    [Parameter] public EventCallback ClosePrevForm { get; set; }

    private ElementReference lyricInput;
    public bool shouldFocusInput = true;
    private int _baseTabIndex = 0;
    private SegmentCreateDto _newSegment = new();
    private string _segmentText = string.Empty;
    private bool isInitialized = false;

    protected override void OnParametersSet()
    {
        if (FormOpen && !isInitialized)
        {
            if (!string.IsNullOrWhiteSpace(SegmentText) && string.IsNullOrEmpty(_segmentText))
            {
                _segmentText = SegmentText;
            }
            isInitialized = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (FormOpen)
            {
                await JsRt.InvokeVoidAsync("focusInputAndSetCursorToEnd", lyricInput);
            }
        }
        if (shouldFocusInput && FormOpen)
        {
            shouldFocusInput = false;
            await JsRt.InvokeVoidAsync("focusInputAndSetCursorToEnd", lyricInput);
        
            _baseTabIndex = await JsRt.InvokeAsync<int>("getTabIndexOrDefault", lyricInput);
            StateHasChanged();
        }
    }

    public async Task OpenForm()
    {
        if (ClosePrevForm.HasDelegate)
        {
            await ClosePrevForm.InvokeAsync();
        }
        FormOpen = true;
        shouldFocusInput = true;
        _ = FormOpenChanged.InvokeAsync(FormOpen);
    }

    public async Task CloseForm(bool? addNext = false)
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
        _segmentText = "";
        var cleared = new ChordDto();
        SelectedChord = cleared;
        await SelectedChordChanged.InvokeAsync(cleared);
        FormOpen = false;
        await FormOpenChanged.InvokeAsync(addNext ?? false);
    }

    private async Task HandleSubmit()
    {
        if(string.IsNullOrWhiteSpace(_segmentText) 
        && string.IsNullOrEmpty(SelectedChord.ChordName))
        {
            // both lyric and chord are empty, do nothing
            return;
        }
        _newSegment = new SegmentCreateDto
        {
            Id = Guid.NewGuid().ToString(),
            Lyric = GetLyric(_segmentText),
            ChordId = SelectedChord.Id,
            ChordName = SelectedChord.ChordName,
            AddNextSegment = true
        };

        await OnSegmentAdded.InvokeAsync(_newSegment);
        _segmentText = "";

        var cleared = new ChordDto();
        SelectedChord = cleared;
        await SelectedChordChanged.InvokeAsync(cleared);

        await CloseForm(_newSegment.AddNextSegment);
    } 

    private Task HandleChordSelected(ChordDto chord)
    {
        SelectedChord = chord;
        return SelectedChordChanged.InvokeAsync(chord);
    }

    private string GetLyric(string SegmentText)
        => string.IsNullOrEmpty(SegmentText?.Trim()) ? "-" : SegmentText.Trim();

    public async Task SubmitAndExitAsync()
    {        
        _newSegment = new SegmentCreateDto
        {
            Id = Guid.NewGuid().ToString(),
            Lyric = GetLyric(_segmentText),
            ChordId = SelectedChord.Id,
            ChordName = SelectedChord.ChordName,
            AddNextSegment = false
        };

        if (_newSegment.Lyric != "-" || !string.IsNullOrEmpty(_newSegment.ChordName))
        {
            await OnSegmentAdded.InvokeAsync(_newSegment);
            _segmentText = "";
            var cleared = new ChordDto();
            SelectedChord = cleared;
            await SelectedChordChanged.InvokeAsync(cleared);
        }
        else
        {
            if (IsMidSegments)
                await OnSegmentAdded.InvokeAsync(null);
        }

        FormOpen = false;
        await FormOpenChanged.InvokeAsync(false);      
    }

    public void SubmitAndExit()
    {
        _ = SubmitAndExitAsync();
    }
}